@import "tailwindcss";
@plugin "daisyui" {
	themes: winter --default, dark --prefersdark;
}
@plugin "@tailwindcss/typography";

@theme {
	--font-bauhaus: "ITC Bauhaus Demi", Arial;
	--animate-spin-slow: spin 3s linear infinite;
}